SLACK_BOT_TOKEN=xoxb-
SLACK_APP_TOKEN=xapp-
SLACK_BOT_TOKEN_DEV=xoxb-
SLACK_APP_TOKEN_DEV=xapp-

# Set to "dev" or "prod"
ENVIRONMENT=dev

# OPENAI_API_KEY is not required for dev , this is for prod only as example.
OPENAI_API_KEY=your_openai_api_key_here
LLM_MODEL=qwen2.5:7b
OLLAMA_BASE_URL=http://localhost:11434
